In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sst2/train.tsv', sep='\t', header=None, names=['sentence', 'label'])

In [13]:
df = df.iloc[1:,:]
df

                                                sentence label
1           hide new secretions from the parental units      0
2                   contains no wit , only labored gags      0
3      that loves its characters and communicates som...     1
4      remains utterly satisfied to remain the same t...     0
5      on the worst revenge-of-the-nerds clichés the ...     0
...                                                  ...   ...
67345                               a delightful comedy      1
67346                   anguish , anger and frustration      0
67347  at achieving the modest , crowd-pleasing goals...     1
67348                                  a patient viewer      1
67349  this new jangle of noise , mayhem and stupidit...     0

[67349 rows x 2 columns]

In [14]:
trainset = df.sample(frac=0.2, random_state=42, replace=False)

In [15]:
trainset.to_csv('sst2/sample_train.tsv', sep='\t', index=False, header=False)

In [16]:
testset = pd.read_csv('sst2/dev.tsv', sep='\t', header=None, names=['sentence', 'label'])

In [ ]:
testset =

                                              sentence  label
0                                             sentence  label
1      it 's a charming and often affecting journey .       1
2                   unflinchingly bleak and desperate       0
3    allows us to hope that nolan is poised to emba...      1
4    the acting , costumes , music , cinematography...      1
..                                                 ...    ...
868              has all the depth of a wading pool .       0
869              a movie with a real anarchic flair .       1
870  a subject like this should inspire reaction in...      0
871  ... is an arthritic attempt at directing by ca...      0
872  looking aristocratic , luminous yet careworn i...      1

[873 rows x 2 columns]